.App {
  text-align: center;
  width: 50%;
  border: 1px solid black;
  margin: auto;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    background: red;
    width: 50vw;
    height: 200px;
}
.modal input{
    width: 100%;
}
.expenseInfo{
    width: 100%;
    padding: 0; 
    margin: 0;
}
.expense, .expenseInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background: #ccc;
    padding: 8px;
    margin: 8px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
